.block-form{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.4);
	width: 650px;
	margin: 0 auto;
	border-radius: 30px;
	color: #ffffff
}

.block-backgr {
	background-image: url("background.jpg");
	padding: 1rem;
	background-size: cover;
	height: 100vh;
	
}

.block-table {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.4);
	width: 700px;
	margin: 0 auto;
	border-radius: 30px;
	padding: 20px;

}

h1 {
    color: #ffefe6;
    background-color: #e65c00;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
}

a {
    display: inline-block;
    padding: 7px 10px;
    margin: 5px 0;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

a[href="registraciya.php"] 
{
	color: #0d1eb8;
}

a:hover {
opacity: 88%;
}

.block-out {
	text-align: right;
	margin-right: 20px;
}


.btn-tables {
    background-color: #1E90FF;
    display: inline-block;
}

.block-main {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.4);
	width: 650px;
	margin: 0 auto;
	border-radius: 30px;
}

.btn-add {
    background-color: #28a745;
}

.btn-del {
    background-color: #dc3545;
}

.btn-report {
    background-color: #6f42c1;
}

h3 {
    display: inline-block;
    color: #000000;
    background-color: #ffe600;
    padding: 5px 10px;
    border-radius: 10px;
    border: #000000;
    border-style: double;
}

.table {
    border-color: #007BFF;
    background-color: #ffffff;
}

.table_ot {
    border-color: #973fe9;
    background-color: #ffffff;
    color: black;
    margin: 20px;
}

.label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.label_del {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    color: #bb0000;
    text-align: center;
}

.area {
    width: 200px; 
    padding: 5px;
    margin-bottom: 7px;
}

.btn_dob {
    width: 100px;
    height: 40px;
    color: #ffffff;
    font-weight: bold;
    background-color: #0f4273;
    border: #e65c00;
    border-radius: 20px;
	margin: 15px;
}
